.postsSection {
  width: 100%;
  height: 100%;
}

.postsContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createBtn,
.postsContainer h1 {
  text-align: center;
}

.createBtn,
.amountBtn {
  text-decoration: none;
  color: inherit;
  background: #eeeeee;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.createBtn:hover,
.amountBtn:hover {
  transform: scale(1.1);
}

.posts {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.post {
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #000;
  background: #eee;
  border: 2px solid #000;
  border-radius: 5px;
  height: 300px;
  animation: fadeIn 0.7s;
  overflow-y: hidden;
}

.post:hover {
  transform: scale(1.02);
  background: rgb(170, 170, 170);
}

.postName {
  padding: 1rem 3rem;
  border-bottom: 2px solid #000;
  width: 100%;
  background: rgb(170, 170, 170);
}

.postBodySample {
  padding: 1rem 3rem;
}

.postLink {
  text-decoration: none;
  color: inherit;
  text-align: left;
  width: 75%;
  min-width: 230px;
  margin: 0 auto;
}

.directions {
  margin-bottom: 2rem;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
